// Шрифты
$font-family: 'Montserrat', sans-serif;
$second-family: 'Inter', sans-serif;
$third-family: 'Manrope', sans-serif;

//Цвета
$white: #fff;
$soft-blue: #e6f3ff;
$light-gray: #adadad;
$light-sky-blue: #33CCFF;
$emerald-green: #00CC66;
$royal-blue:#1976D2;
$soft-gray:#f1f3f4;
$aqua-blue:#5dcfe3;


